# dependencies
node_modules

# coverage
coverage
coverageEnv
allFiredEvents
scTopics

# lerna
lerna-debug.log

# lock files
yarn.lock
package-lock.json

# artifacts
*/**/build
*/**/abis.json
*/**/flattened_contracts
